OPENAI_API_KEY=123-here-I-go
OPENAI_PROXY_URL=https://super-secure-endpoint/
OPENAI_API_BASE_URL=https://super-secure-endpoint/
OPENAI_ORG_KEY=org-123123

ANONYMIZED_TELEMETRY=false
WEBUI_SECRET_KEY=password

WEBUI_URL=http://ldap.cbd.company.net:4401
TASK_MODEL=gpt-4o-mini
ENABLE_AUTOCOMPLETE_GENERATION=false
ENABLE_TAGS_GENERATION=false
ENABLE_RAG_HYBRID_SEARCH=true
PDF_EXTRACT_IMAGES=true

RAG_WEB_SEARCH_ENGINE="searxng"
RAG_WEB_SEARCH_RESULT_COUNT=6
RAG_WEB_SEARCH_CONCURRENT_REQUESTS=12
SEARXNG_QUERY_URL="http://searxng:8080/search?q=<query>"

